In [1]:
# to import the data
import pandas as pd 

data = pd.read_csv('diabetes.csv')

data

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [2]:
data.head(20)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
5,5,116,74,0,0,25.6,0.201,30,0
6,3,78,50,32,88,31.0,0.248,26,1
7,10,115,0,0,0,35.3,0.134,29,0
8,2,197,70,45,543,30.5,0.158,53,1
9,8,125,96,0,0,0.0,0.232,54,1
10,4,110,92,0,0,37.6,0.191,30,0
11,10,168,74,0,0,38.0,0.537,34,1
12,10,139,80,0,0,27.1,1.441,57,0
13,1,189,60,23,846,30.1,0.398,59,1
14,5,166,72,19,175,25.8,0.587,51,1
15,7,100,0,0,0,30.0,0.484,32,1
16,0,118,84,47,230,45.8,0.551,31,1
17,7,107,74,0,0,29.6,0.254,31,1
18,1,103,30,38,83,43.3,0.183,33,0
19,1,115,70,30,96,34.6,0.529,32,1

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               768 non-null    int64
 1   Glucose                   768 non-null    int64
 2   BloodPressure             768 non-null    int64
 3   SkinThickness             768 non-null    int64
 4   Insulin                   768 non-null    int64
 5   BMI                       768 non-null    float64
 6   DiabetesPedigreeFunction  768 non-null    float64
 7   Age                       768 non-null    int64
 8   Outcome                   768 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 54.1 KB

In [4]:
data.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [5]:
data.isnull().sum()

Pregnancies                 0
Glucose                     0
BloodPressure               0
SkinThickness               0
Insulin                     0
BMI                         0
DiabetesPedigreeFunction    0
Age                         0
Outcome                     0
dtype: int64

In [6]:
data.columns

Index(['Pregnancies', 'Glucose', 'BloodPressure', 'SkinThickness', 'Insulin',
       'BMI', 'DiabetesPedigreeFunction', 'Age', 'Outcome'],
      dtype='object')

In [7]:
data['Age'].value_counts()

Age
22    72
21    63
25    48
24    46
23    38
28    35
26    33
27    32
29    29
31    24
41    22
30    21
37    19
42    18
33    17
38    16
36    16
32    16
45    15
34    14
46    13
43    13
40    13
39    12
35    10
50     8
51     8
52     8
44     8
58     7
47     6
54     6
49     5
48     5
57     5
53     5
60     5
66     4
63     4
62     4
55     4
67     3
56     3
59     3
65     3
69     2
61     2
72     1
81     1
64     1
70     1
68     1
Name: count, dtype: int64

In [8]:
df1 = data.copy()

In [9]:
df1

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [10]:
data.duplicated().sum()

0

In [11]:
data.drop(['SkinThickness','Insulin', 'BloodPressure'], axis = 1, inplace = True)

In [12]:
data

     Pregnancies  Glucose   BMI  DiabetesPedigreeFunction  Age  Outcome
0              6      148  33.6                     0.627   50        1
1              1       85  26.6                     0.351   31        0
2              8      183  23.3                     0.672   32        1
3              1       89  28.1                     0.167   21        0
4              0      137  43.1                     2.288   33        1
..           ...      ...   ...                       ...  ...      ...
763           10      101  32.9                     0.171   63        0
764            2      122  36.8                     0.340   27        0
765            5      121  26.2                     0.245   30        0
766            1      126  30.1                     0.349   47        1
767            1       93  30.4                     0.315   23        0

[768 rows x 6 columns]

In [13]:
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt 
import seaborn as sns 
sns. ser()
from mixtend.plotting import plot_decision _regions
import missingno as msno 
from pandas.plotting import scatter_matrix 
from sklearn.preprocessing import StandardScaler 
from sklearn.model_selection import train_test_split 
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import confusion_matrix
from sklearn import metrics
from sklearn.metrics import classification_report
from sklearn.metrics import roc_curve 
from sklearn.metrics import roc_auc_score
from sklearn.model_selection import GridSearchCV
import warnings

SyntaxError: invalid syntax (1917315543.py, line 6)

### data visualization seaborn and matplotlib

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
plt.figure(figsize = ( 12,6))
sns.countplot(x = 'Outcome', data = data)
plt.show

# observing the outliers

In [ ]:
plt.figure(figsize=(12, 12))
for i, col in enumerate(['Pregnancies', 'Glucose',  'BMI', 'DiabetesPedigreeFunction', 'Age', 'Outcome']):
    plt.subplot(3, 3, i + 1)
    sns.boxplot(x=col, data=data)  # Changed sns.box to sns.boxplot
    plt.title(col)  # Optional: Add title for each subplot
plt.tight_layout()  # Optional: Adjust layout for better spacing
plt.show()

In [ ]:
sns.pairplot(data, hue='Outcome')
plt.show()

In [ ]:
# Set the figure size
plt.figure(figsize=(12, 12))

# List of columns to plot
columns = ['Pregnancies', 'Glucose', 'BMI', 'DiabetesPedigreeFunction', 'Age']

# Loop through each column and create a subplot
for i, col in enumerate(columns):
    plt.subplot(3, 3, i + 1)
    sns.scatterplot(x=col, y='Outcome', data=data)
    plt.title(col)

# Adjust layout
plt.tight_layout()

# Show the plots
plt.show()

In [ ]:
plt.figure(figsize=(12, 12))
columns = ['Pregnancies', 'Glucose', 'BMI', 'DiabetesPedigreeFunction', 'Age']
for i, col in enumerate(columns):
    plt.subplot(3, 3, i + 1)
    sns.histplot(data=data, x=col, hue='Outcome', multiple='stack', bins=30)
    plt.title(col)
plt.tight_layout()
plt.show()

# standard scaling and label Encoding

In [15]:
from sklearn.preprocessing import StandardScaler
sc_X = StandardScaler()

# Scale the features, dropping the 'Outcome' column
X = pd.DataFrame(sc_X.fit_transform(data.drop(['Outcome'], axis=1)),
                  columns=['Pregnancies', 'Glucose', 'BMI', 'DiabetesPedigreeFunction', 'Age'])

In [16]:
X.head(20)

    Pregnancies   Glucose       BMI  DiabetesPedigreeFunction       Age
0      0.639947  0.848324  0.204013                  0.468492  1.425995
1     -0.844885 -1.123396 -0.684422                 -0.365061 -0.190672
2      1.233880  1.943724 -1.103255                  0.604397 -0.105584
3     -0.844885 -0.998208 -0.494043                 -0.920763 -1.041549
4     -1.141852  0.504055  1.409746                  5.484909 -0.020496
5      0.342981 -0.153185 -0.811341                 -0.818079 -0.275760
6     -0.250952 -1.342476 -0.125977                 -0.676133 -0.616111
7      1.827813 -0.184482  0.419775                 -1.020427 -0.360847
8     -0.547919  2.381884 -0.189437                 -0.947944  1.681259
9      1.233880  0.128489 -4.060474                 -0.724455  1.766346
10     0.046014 -0.340968  0.711690                 -0.848280 -0.275760
11     1.827813  1.474267  0.762457                  0.196681  0.064591
12     1.827813  0.566649 -0.620962                  2.926869  2.021610
13    -0.844885  2.131507 -0.240205                 -0.223115  2.191785
14     0.342981  1.411672 -0.785957                  0.347687  1.511083
15     0.936914 -0.653939 -0.252897                  0.036615 -0.105584
16    -1.141852 -0.090591  1.752428                  0.238963 -0.190672
17     0.936914 -0.434859 -0.303664                 -0.658012 -0.190672
18    -0.844885 -0.560048  1.435129                 -0.872441 -0.020496
19    -0.844885 -0.184482  0.330932                  0.172520 -0.105584

In [17]:
y = data['Outcome']

In [18]:
y.head(20)

0     1
1     0
2     1
3     0
4     1
5     0
6     1
7     0
8     1
9     1
10    0
11    1
12    0
13    1
14    1
15    1
16    1
17    1
18    0
19    1
Name: Outcome, dtype: int64

In [19]:
from sklearn.model_selection import train_test_split 
X_train, X_test, y_train,y_test = train_test_split(X,y, test_size = 0.3, random_state = 0)

In [20]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix

In [21]:
X

     Pregnancies   Glucose       BMI  DiabetesPedigreeFunction       Age
0       0.639947  0.848324  0.204013                  0.468492  1.425995
1      -0.844885 -1.123396 -0.684422                 -0.365061 -0.190672
2       1.233880  1.943724 -1.103255                  0.604397 -0.105584
3      -0.844885 -0.998208 -0.494043                 -0.920763 -1.041549
4      -1.141852  0.504055  1.409746                  5.484909 -0.020496
..           ...       ...       ...                       ...       ...
763     1.827813 -0.622642  0.115169                 -0.908682  2.532136
764    -0.547919  0.034598  0.610154                 -0.398282 -0.531023
765     0.342981  0.003301 -0.735190                 -0.685193 -0.275760
766    -0.844885  0.159787 -0.240205                 -0.371101  1.170732
767    -0.844885 -0.873019 -0.202129                 -0.473785 -0.871374

[768 rows x 5 columns]

In [22]:
y

0      1
1      0
2      1
3      0
4      1
      ..
763    0
764    0
765    0
766    1
767    0
Name: Outcome, Length: 768, dtype: int64

In [23]:
X_train

     Pregnancies   Glucose       BMI  DiabetesPedigreeFunction       Age
580    -1.141852  0.942215  1.282826                 -0.304658 -1.041549
418    -0.844885 -1.185991 -1.750544                  0.459432 -0.531023
764    -0.547919  0.034598  0.610154                 -0.398282 -0.531023
363     0.046014  0.785730  0.825917                  0.145339  2.872487
757    -1.141852  0.065895  0.546695                 -0.645932  1.596171
..           ...       ...       ...                       ...       ...
763     1.827813 -0.622642  0.115169                 -0.908682  2.532136
192     0.936914  1.192592 -0.202129                 -0.268417  0.234767
629     0.046014 -0.841722 -0.925569                 -0.978145 -1.041549
559     2.124780 -1.123396 -0.240205                 -0.519087  0.149679
684     0.342981  0.472758 -4.060474                  0.507754  3.042663

[537 rows x 5 columns]

# using Logistic regression

In [24]:
lr = LogisticRegression()

In [25]:
lr.fit(X_train,y_train)

LogisticRegression()

In [26]:
y_pred = lr.predict(X_test)

In [27]:
y_pred

array([1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0,
       0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1,
       1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 1,
       1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1,
       0, 0, 1, 0, 1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0,
       1, 0, 1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0,
       0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0], dtype=int64)

In [28]:
pd.set_option('display.max_rows', None)  #used to configure the display settings for DataFrames

In [29]:
y_test #Actual value

661    1
122    0
113    0
14     1
529    0
103    0
338    1
588    1
395    0
204    0
31     1
546    1
278    0
593    0
737    0
202    0
175    1
55     0
479    0
365    0
417    1
577    1
172    0
352    0
27     0
605    0
239    0
744    0
79     0
496    0
285    0
422    0
640    0
374    0
385    0
404    1
648    1
500    0
575    0
40     0
181    0
354    0
563    0
399    1
8      1
145    0
271    0
419    1
198    1
683    1
578    0
142    0
215    1
756    0
452    0
75     0
1      0
303    1
451    1
706    1
662    1
364    0
626    0
266    1
317    1
408    1
355    1
272    0
250    0
403    0
624    0
222    0
253    0
622    0
235    1
351    0
672    0
499    0
720    0
556    0
583    0
150    0
85     0
526    0
735    0
350    0
242    1
18     0
236    1
623    0
602    0
251    0
313    0
50     0
548    0
572    0
638    1
608    0
39     1
406    1
162    0
156    0
10     0
68     0
267    0
443    1
736    0
471    0
316    0
2      1
760    0
214    1
586    1
187    1
415    1
283    1
279    0
258    0
249    0
740    1
725    0
362    0
318    0
582    0
413    0
694    0
698    0
386    1
456    0
728    0
71     0
49     0
210    0
409    1
503    0
37     1
687    0
48     1
261    1
653    0
331    0
568    0
196    0
76     0
64     1
671    0
52     0
310    0
416    0
476    1
482    0
230    1
527    0
380    0
603    1
118    0
247    0
157    0
468    1
193    1
306    1
319    1
97     0
530    0
327    0
619    1
518    0
632    0
524    0
536    0
597    0
462    0
17     1
739    1
263    0
241    0
344    0
302    0
704    0
240    0
170    1
691    1
490    0
45     1
750    1
62     0
78     1
366    1
301    1
382    0
140    0
463    0
762    0
127    0
564    0
375    1
663    1
144    0
268    0
21     0
609    0
511    0
35     0
473    0
255    1
534    0
77     0
566    0
312    1
465    0
109    1
553    0
299    0
101    0
315    0
92     0
243    1
397    1
294    0
504    0
400    1
367    0
755    1
231    1
211    0
436    0
165    1
188    1
334    0
758    0
34     0
Name: Outcome, dtype: int64

In [30]:
# Evaluate the model using accuracy score, classification report, and confusion matrix
accuracy = accuracy_score(y_test, y_pred)
print("Accuracy:", accuracy)
print("Classification Report:")
print(classification_report(y_test, y_pred))
print("Confusion Matrix:")
print(confusion_matrix(y_test, y_pred))

Accuracy: 0.7748917748917749
Classification Report:
              precision    recall  f1-score   support

           0       0.79      0.90      0.85       157
           1       0.71      0.50      0.59        74

    accuracy                           0.77       231
   macro avg       0.75      0.70      0.72       231
weighted avg       0.77      0.77      0.76       231

Confusion Matrix:
[[142  15]
 [ 37  37]]

# using decision tree

In [ ]:
from sklearn.tree import DecisionTreeClassifier

In [ ]:
dtc = DecisionTreeClassifier()

In [ ]:
dtc.fit(X_train, y_train)

In [ ]:
y_pred2 = dtc.predict(X_test)

In [ ]:
accuracy = accuracy_score(y_test, y_pred2)
print("Accuracy:", accuracy)
print("Classification Report:")
print(classification_report(y_test, y_pred2))
print("Confusion Matrix:")
print(confusion_matrix(y_test, y_pred2))

In [ ]:
import joblib 

joblib.dump(lr, 'diabetes_logistic.model')